<div class="container">
    <div class="c-page-header">Solutions & Offerings</div>
    <div class="c-page">
       <h3>Solutions & Offerings</h3>
       <p>digiProp is a comprehensive technology, which main quality is the simplicity or use. It is built with the user experience in mind. digiProp is your friend when you need assistance to make a complex decision in your life or understand what choice other people have made in similar situations and why.  digiProp is a solution with multiple industry implementations.  If you do not find your industry or problem statement below, please, contact us and we will be happy to consider and possibly implement your request.</p>

       <h3>Products</h3>
       <p>The digiProp products are built based on predefined data sets and are easy to use on a “as – is” base. If these data sets are sufficient for your business, you can use them at a great price as a simple way to support the optimal decision support and innovative understanding of people’s choices.
       At this moment, the digiProp product family includes digiProp-RE (a digiProp solution for the real estate market), digiProp-Automotive (what is your best choice when buying moor vehicle), and digiProp – Electronics (featuring selected high priced electronic sample products).</p>

       <h3>Solutions</h3>
       <p>Using the standard “out of the box” configuration of digiProp will give you some great insights, but it is limited to certain predefined data sets. Although some of them might be sufficient for the public, taking the time to do a little customization can unlock more data, better understanding, and more ideas for optimization. When implementing a digiProp solution for you, we will utilize the exact data set you would like to use and provide analytics based on a special set of domain bound criteria.
       Currently available is the digiPropAssist-RE solution, which provides advanced decision making support when buying real estate properties in the USA.</p>
       <h3>Offerings</h3>
       <p>Once you start using digiProp, you will get accustomed to it very fast and most likely you will start using it daily.  In such cases, you might want to have the digiProp products or solution integrated within your usual applications. In such cases, we have a talented team who can do this for you and work with the rest of your vendors on advanced integration in your environment.</p>
        <h3>Pricing</h3>
        <p>We try to keep our pricing simple and fair.
        All digiProp products are priced as Software as a Service (SaaS) unlimited usage on “per user” monthly fee. Each of the digiProp products has a different price point due to the data sets utilized.
        The digiProp solutions are also priced as Software as a Service (SaaS) and on “per user” monthly or yearly fee. The cost is calculated based on the data sets requested for each implementation.
        The pricing of the digiProp offerings is calculated in a custom contract, which outlines the specific requirements of the implementation. Such request can be submitted on demand here (this link should point to Contact us with message box).
        Optimization and enhancement requests can also be submitted in a similar way.</p>
    </div>
</div>